snippet su "setUp method for Django tests" b
def setUp(self):
	super().setUp()
	$1
endsnippet

snippet sutd "setUpTestData method for Django tests" b
@classmethod
def setUpTestData(cls):
	super().setUpTestData()
	$1
endsnippet

snippet switches "@switches decorator for gargoyle" b
@switches(${1:flag_name}=${2:return_value})
endsnippet
